* {
    margin: 0;
}

body h2
{
    font-family: 'Roboto', sans-serif;
    
}

body p
{
    font-family: 'Poppins', sans-serif;
}

.hero-area
{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    text-align: center;
    margin-bottom: 150px;
}

.hero-area h2
{
    text-transform: uppercase;
    font-size: 70px;
    color: #fff;
}

.hero-area p
{
    color: #fff;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.btn
{
    text-decoration: none;
    color: #fff;
    padding: 15px 40px;
    border-radius: 5px;
    background-color: #FF5959;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.ammount-area
{
    text-align: center;
    margin-bottom: 150px;
}

.ammount-area h2
{
    margin-bottom: 20px;
    font-size: 40px;

}

.ammount-area p 
{
    width: 40%;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 40px;
    font-size: 19px;
   
}

.ammount-area ul
{
    display: flex;
    width: 40%;
    padding-left: 22%;
}

.ammount-area ul li

{
    list-style: none;
    padding: 35px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.ammount-area ul span
{
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 15px;
    background-color: #FFEEEE;
}

.ammount-area input
{
    padding: 10px;
    width: 50%;
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #B3B3B3;
    font-size: 20px;
}

input:focus {
    outline: none;
}
.other-ammount
{
    margin-bottom: 70px;
}

.plan-area
{
    text-align: center;
    margin-bottom: 150px;
}

.plan-heading h2
{
    margin-bottom: 20px;
    font-size: 40px;
   

}

.plan-heading p
{
    width: 40%;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 40px;
    font-size: 17px;                                                           
}

.plan-item
{
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 40px;
    text-align: left;
}

.plan-item h2
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-container 
{
    display: flex;
}

.plan-item
{
    width: 33.3%;
    margin-left: 20px;
    padding: 40px;
}

.plan-item h2
{
    font-size: 25px;
    
}

.plan-item p
{
    font-size: 15px;
   
}

.item-one
{
    background-color: #EDF5F6;
    margin-left: 100px;
}

.item-two
{
    background-color: #FFEEEE;
}

.item-three
{
    background-color: #FFF4D6;
    margin-right: 100px;
}

.contribute-area 
{
    margin-bottom: 150px;
}

.contribute-text
{
    width: 50%;
    margin-top: 40px;
    padding-left: 90px;
}

.contribute-text h2
{
    margin-bottom: 20px;
    font-size: 40px;   
}

.contribute-text p
{
    width: 90%;
    margin-bottom: 40px;
}

.contribute-img
{
    width: 50%;
    
    
}

.contribute-img img
{
    width: 95%;
    border-radius: 5px;
}

.contribute-area2
{
    margin-bottom: 150px;
}

.contribute-area2 .contribute-img
{
    margin-left: 30px;
}

.update-area
{
    margin-bottom: 150px;
    text-align: center;
}

.update-text h2
{
    font-size: 40px;
    margin-bottom: 10px;
}

.update-text p
{
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    margin-bottom: 80px;
}

.subscribe-form
{
    width: 40%;
    padding-left: 30%;
    padding-right: 30%;
    background-color: #FFF4D6;
    padding-top: 80px;
    padding-bottom: 80px;
}

.form-email
{
    padding: 10px 20px;
 	border: 1px solid #CAD3DB;
    width: 70%;
	font-size: 18px;
	color: #0F121F;
}

.form-btn
{
    background: #FF5959;
	padding: 10px;
	border: none;
	width: 40%;
	height: 55px;
	font-size: 18px;
	color: white;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.footer 
{
    text-align: center;
    background-color: #0B0D17;
    padding-top: 15px;
    padding-bottom: 25px;
}

.footer h2
{
    color: #C24648;
    margin-top: 15px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.footer p
{
    color: #fff;
}